.container {
  max-width: 350px;
  margin: 0 auto;
}

.title {
  margin: 100px 0 50px;
  color: #a1c4fd;
}

.idSection {
  position: relative;
}

.idInput {
  padding: 10px 100px 10px 20px;
}

.idInput,
.pwInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  outline: none;
}

.idButton {
  position: absolute;
  padding: 0 10px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: #a9cdfc;
}

.pwInput {
  padding: 10px 20px;
  margin-top: 20px;
}

.button {
  width: 100%;
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #a9cdfc;
  cursor: pointer;
}
