.comment {
  margin: 50px auto;
  max-width: 1000px;
  text-align: right;
}

.input {
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}

.input:focus {
  outline: none;
}

.button {
  width: 10%;
  height: 35px;
  font-size: 14px;
  border: none;
  color: #ffffff;
  background-color: #a9cdfc;
}
.onBtn {
  cursor: pointer;
}

.offBtn {
  background-color: #c0c0c0;
}

.commentList {
  list-style: none;
  padding-left: 0;
}
